/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 0
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;    
}
.castoro-regular {
    font-family: "Castoro", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .castoro-regular-italic {
    font-family: "Castoro", serif;
    font-weight: 400;
    font-style: italic;
  }
  *,*:before,*:after{
box-sizing: border-box
} 
/*
 *{
  outline: 1px solid red;
}*/
.outsidebox{
    max-width: 1300px;
}
/* 頁首 */
.header{
    max-width: 100vw;
    margin-top: 1rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
   	line-height: 1.05;

}
.header_menu{
    max-width: 100%;
}
.header a{color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: "Castoro", serif;
    margin-left: 20px;
    margin-right: 20px;    
}
/* 第一頁 */

.container1{
    MAX-width: 100vw;
    flex-direction: row;
    display: flex;
    justify-content: start;
    align-items: space-around;
    flex-wrap: wrap;    
    position: relative;
    
}
.container1_warp{
    max-width: 100vw;
    flex: row;
    display: flex;  

}
    .page1_left{
        width: 100%;
        object-fit: cover;
        object-position:  left;
        
    }
    .page1_right{
        width: 100%;
        object-fit: cover;
        object-position:  left;
        
    }
    .container1_float{
    width: 45%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    font-family: "Noto Sans TC", sans-serif;    
    position: absolute;
    align-items: center;
    justify-content: center;
    line-height: 1.05;
    top: 30%;
    left: 50%;
   }
.Hero_Section{
    color :blue;
    font-size: 20px;
}
.Hero_Section H1{
    margin-bottom: 0px;
    font-size: 80px;
    font-weight: bold;
}

/* 第二頁 */

.page2warp{
  display: flex;
  width: 100%;
  box-sizing: border-box;
  
    }

.page2{

  width: 50%;
  flex-shrink: 0;
    }
.page2 img{
    width: 100%;
    height: auto;
    object-position: left;
    object-fit:cover;
    display: block;

    }
.page2_text{
line-height: 1.5;
width: 50vw;
padding: 20px;
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
    }
/* 搜索框*/
.page3{
    width: 100%;

}

.page3warp{
    width: 30%;
        
        display: flex;
        align-items: center;
    }
.searchbar{
    width: 30%;
    font-size: 12px;
    padding: 10px;
    color: #666;
    border-radius: 20px;
    border: 1px solid #666; 
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    flex-grow: 8;
    justify-content: center;
}
.searchbar a{
    text-decoration: none;
    color: #666;
}
/* 頁尾 */
.footer{
    width: 100%;
    height: 200px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.footer_warp{
    width: 100%;
    height: 200px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    margin-top: 20px;
}
.copyright{
    font-size: 12px;
    color: #666;
    margin-left: 20px;
}

  
/* 處理九宮格 */
.container{
    width: 97%;
    margin-left: 5px;
    margin-right: 5px;

    display: flex;
    
    justify-content:flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 auto;
    
}

.card{
    margin-bottom: 50px;    
    flex-direction: column;
    max-width: 32%;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-between;
    }
.item{
    width: 100%; 
    margin-left: 5px;
    line-height: 1.5em; 
    margin-right: 5px;
    
 }
.item img{
    max-width: 30vw; 
    display: block;
    
 }

.date{
    font-size: 12px; 
}

.tag{
    font-size: 14px;
    color: blue;    
}
.title{
    margin-bottom: 30px;
    line-height: 150%;
    font-size: 20px;
    font-weight: bold;
    }
.text{
    font-size: 12px;
    font-weight: bold;
    line-height: 130%;
    color: #666;
     display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.3em;     /* 行高，和高度配合 */
  max-height: 2.8em;        /* 行高 * 顯示行數，這裡是1.5 * 2 */
  position: relative;
  z-index: 1;
  background: white; /* 避免被圖片遮擋 */
  margin-bottom: 20px;
}
.btn{
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    color: #666;
    border-radius: 20px;
    border: 1px solid #666; 
    margin-top: 20px;
}
.btn a{
    text-decoration: none;
    color: #666;
}
.bnn{
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    color: white;
    background-color: blue;
    border-radius: 20px;
    
}



/*手機板*/
@media screen and (max-width: 768px) {

    
    .outsidebox{
    max-width: 100vw;    
}


/*m第一頁*/
    .container1{
    max-width: 100vw;
        flex-direction: column;
        display: flex;
        margin: 0 auto;
    }

    .container1_warp{
        max-width: 100vw;
        flex-direction: column;
        display: flex;
    }
    
    .container1_float{
    width: 80%;
      line-height: 1.05;
    top: 45%;
    left: 2%;
    }
     .page1_right{
        height: 10rem;
        max-width: 100vw;
        object-fit: none;
        object-position:  right bottom;
        
    }
.page2warp{
    max-width: 100vw;
    flex-direction: column;
        display: flex;
        align-items: start;
        flex-wrap: wrap;
    justify-content: left stretch flex-start;
    
    text-wrap: wrap;
    }
.item{
    align-content: left;
    width: 100vw; 
    margin-left: 5px;
    line-height: 1.5em;
    font-family: "Noto Sans TC", sans-serif;    
    margin-right: 5px;
    text-wrap: wrap;
 }
.page2{
    width: 100%;
    align-items: start;
    flex-direction: column;
    display: flex;
    }
.page2 img{
        width: 100%;
        object-fit: cover;
        object-position: left;    
    }
    
.page2_text{
line-height: 1.5;
width: 95vw;
padding: 20px;
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
    }

/* m搜索框*/

.page3warp{
    width: 80vw;
    }
.searchbar{
    width: 50vw;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
}

/* m處理九宮格 */
.container{
    width: 95vw;
    padding-left: 5px;
    padding-right: 5px;
    
    flex-direction: column;
    display: flex;
    justify-content: start  ;
    align-items: start;
    flex-wrap: wrap;

}

.warp{
    max-width: 90vw;
    
    }
.item img{
    max-width: 90vw; 
    margin-left: 0px;
    display: block;
    height: auto;
 }
 
.title{
    width: 90vw;
    text-align: left center;
     
    margin-bottom: 5px;
    }
.text{
    width: 90vw;
    }
.tag{
    width: 90vw;
}
.date{
    width: 90vw;
}


.card{
    max-width: 100vw;
    
    }
/* m頁尾 */
.footer{
    width: 75vw;
    height: 100px;
        margin-left: 50px;

    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
}
.footer_warp{
    width: 70vw;
    height: 200px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0px;
}
.copyright{
    font-size: 12px;
    color: #666;
    margin-left: 20px;
}
}
